---
#Main css file 
---
@import "report";

/* Theme colors */
$bg1: #f2fcff;
$bg2: #b7c6c9;

$cia_low: #bcc9b7;
$cia_medium: #c9c9b7;
$cia_high: #c9b7b7;

/* Global */
div.content{
  margin: 1em 3em 0 3em;
}

/* Home Page*/
div.home_nav{
  margin: 1em 0 0 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: .25em;
}

div.home_nav_item img.icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  height: auto;
}

div.home_nav_item figcaption.home_nav{
  text-align: center;
}

div.home_nav_description{
  padding-left: 1em;
}

/* Site Nav */

div.site_nav_container{
  width: 100%;
  background: black;
}

div.site_nav_padding{
  width:20%
}

div.site_nav_content{
  width: 80%;
  margin: auto;
}

/* Use Case Styling */
div.usecase{
  margin: 1em;
  padding: 1em;
}

div.usecase > h1{
	font-weight: bold;
}

div.ucv_name{
  width: 100%;
}
div.ucv_container{
  display: grid;
  grid-template-columns: 60% 40%;
}
div.ucv_description{
  font-family: Arial, Helvetica, sans-serif;
  background: $bg1;
  padding: .5em;
}

div.ucv_attributes{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: .5em;
  background: $bg2;
  padding: .5em;
}

div.ucv_attribute{
  background: $bg1;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  padding: .5em;
}

div.ucv_attribute > div:first-child {
  font-weight: bold;
  text-transform: uppercase;
  background: $bg2;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

div.ucv_attribute > div:not(:first-child){
  padding-left: .5em;
  padding-bottom: .25em;
}

div.ucv_information_types > div:first-child {
  font-weight: bold;
  text-transform: uppercase;
  background: $bg2;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

div.ucv_information_types tr:first-child{
  background: $bg2;
}

div.ucv_information_types > table{
  background: $bg1;
  margin-top: .25em;
  width: 100%;
}

td.low{
  background: $cia_low;
  text-align: center;
}

td.medium{
  background: $cia_medium;
  text-align: center;
}

td.high{
  background: $cia_high;
  text-align: center;
}

div.information_type_detail table{
  width: 100%;
  background: $bg1;
}

div.information_type_detail th{
  text-align: left;
  text-size: large;
  background: $bg2;
}

div.information_type_detail .sub_heading{
  text-align: left;
  font-weight: bold;
}
div.information_type_detail td:first-child{
  width: 20%;
}

div.information_type_detail > div:first-child {
  font-weight: bold;
  background: $bg2;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
