---
#Main css file 
---
@import "report_images";

/* Global */
div.content{
  margin: 1em 3em 0 3em;
}

/* Home Page*/
div.home_nav{
  margin: 1em 0 0 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: .25em;
}

div.home_nav_item img.icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  height: auto;
}

div.home_nav_item figcaption.home_nav{
  text-align: center;
}

div.home_nav_description{
  padding-left: 1em;
}

/* Site Nav */

div.site_nav_container{
  width: 100%;
  background: black;
}

div.site_nav_padding{
  width:20%
}

div.site_nav_content{
  width: 80%;
  margin: auto;
}

/* Use Case Styling */
div.usecase{
  margin: 1em;
  padding: 1em;
}

div.ucv_name{
  width: 100%;
}
div.ucv_container{
  display: grid;
  grid-template-columns: 60% 40%;
}
div.ucv_description{
  font-family: Arial, Helvetica, sans-serif;
  border: solid;
  background: #f2fcff;
  padding: .5em;
}

div.ucv_attributes{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: .5em;
  background: #b7c6c9;
  padding: .5em;
}

div.ucv_attribute{
  background: #fafeff;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  padding: .5em;
}
div.ucv_attribute > div:first-child {
  font-weight: bold;
  text-transform: uppercase;
  background: #b7c6c9;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

div.ucv_attribute > div:not(:first-child){
  padding-left: .5em;
  padding-bottom: .25em;
}

div.ucv_information_types tr:first-child{
  background: #b7c6c9;
}

div.ucv_information_types tr:nth-child(even){
  background: #f2fcff;
}

div.ucv_information_types td:not(:first-child){
  text-align: center;
}
