<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
  <link rel="stylesheet" href="css/default.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-144-precomposed.png">
                                 <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- NIST Header and exit link stuff -->
  <link rel="stylesheet" href="https://pages.nist.gov/nist-header-footer/css/nist-combined.css">
  <link rel="stylesheet" href="css/jquery.leaveNotice.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="https://pages.nist.gov/nist-header-footer/js/nist-header-footer.js"></script>
  <script type="text/javascript" src="https://pages.nist.gov/leaveNotice/js/jquery.leaveNotice-nist.min.js"></script>
  <script type="text/javascript">

    function reverseString(str) {
          return str.split("").reverse().join("");
    }

    $(document).ready(function(){
      document.querySelectorAll( "a").forEach( function(element){
	
	var domain = element.href.replace('http://','').replace('https://','').split(/[/?#:]/)[0];
	if ( domain ) {
	  is_in_domain = ( reverseString( domain ).indexOf( reverseString( "nist.gov" ) ) == 0 );
	  if ( !( ( domain == "{{ site.host }}" ) || ( is_in_domain ) ) ){
	    console.log( domain + " is external " );
	    name = "external";
	    arr = element.className.split(" ");
	    if (arr.indexOf(name) == -1) {
	      element.className += " " + name;
	    }

	  }
	}
      });

      $('a.external').leaveNotice();
    });
  </script>

  <!-- WC3 Schools css stuff -->
  <link rel="stylesheet" href="css/w3.css">
  
  <!-- Updated Google Analytics -->
  <script async type="text/javascript" id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=NIST&subagency=github&pua=UA-66610693-1&yt=true&exts=ppsx,pps,f90,sch,rtf,wrl,txz,m1v,xlsm,msi,xsd,f,tif,eps,mpg,xml,pl,xlt,c">
  </script>
</head>
