<div class="site_nav_container">
  <div class="site_nav_padding"></div>
  <div class="site_nav_content">
    <div class="w3-bar w3-black w3-large"> 
      {% for p in site.data.site_pages.pages %} 
      {% assign link_class= "w3-bar-item w3-button" %}
      {% if p.external %}
	{% capture link_class %} {{ link_class }} w3-right {% endcapture %}
	{% endif %}
	    {% if p.items%}

	    <div class="w3-dropdown-hover ">
	      <button class="w3-button {% for sub in p.items%} {% if sub.url == page.url %} w3-light-blue {% break %} {% endif %}{% endfor %}">
	      {{ p.title }} </button>
	    <div class="w3-dropdown-content w3-bar-block w3-card-4">
	      {% for sub in p.items %}

	      {% if sub.url == page.url %}
	      {% capture link_class %} {{ link_class }} w3-light-blue{% endcapture %}
		{% endif %}
		<a href="{{ sub.url }}" class="{{ link_class }}">{{ sub.title }} </a>
		  {% endfor %}
	    </div>
	  </div>
	  {% else %}
	  {% if p.url == page.url %}
	  {% capture link_class %} {{ link_class }} w3-light-blue{% endcapture %}
	    {% endif %}
	    <a href="{{ p.url }}" class="{{ link_class }}">{{ p.title }} </a>
	    {% endif %}
	      {% endfor %}
    </div>
  </div>
</div>
