

<div id="{{ include.usecaseid }}" class="usecase">
  <div class="ucv_name"><h1> {{ site.data.usecases[include.usecaseid].name }}</h1></div>

  <div class="ucv_container">
    {% include usecasedescription.html usecaseid=include.usecaseid %}

    <div class="ucv_attributes">
      {% include usecasedisciplines.html usecaseid=include.usecaseid %}
      {% include usecaserespondingorganizations.html usecaseid=include.usecaseid %}
      {% include usecaseactivities.html usecaseid=include.usecaseid %}
      {% include usecaseactors.html usecaseid=include.usecaseid %}
      {% include usecasetechnologies.html usecaseid=include.usecaseid %}
      {% include usecasecybersecuritythreats.html usecaseid=include.usecaseid %}
    </div>
  </div>

  {% include usecaseinformationtypes.html usecaseid=include.usecaseid %}

</div>
