/* Report Formatting */

div.toc_menu{
	max-width:20%;
	background: transparent; 
}

div.paper > div.ucv_description{
	border: solid;
}

div.paper > div.usecase{
	display: block;
	width: 80%;
	margin: auto;
}

div.paper img.report_figure{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 45%
}

div.paper > div.ucv_attribute{
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
}

div.paper div.ucv_information_types{
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

div.paper div.information_type_detail{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
