---
layout: default
---
<div class="content container">
  <h1>{{ page.heading }}</h1>
  {{ content }}
</div>

<div class="home_nav content">
    {% for item in site.data.site_pages.pages | sort: "order" %}
      {% if item.title != "Home" %}
	<div class="home_nav_item">
	  <a href="{{ item.url }}"><img src="media/{{ item.icon }}" class="icon"><figcaption class="home_nav">{{ item.title }}</figcaption></a>
	</div>
	<div class="home_nav_description">
	    {{ item.description }}
	</div>
      {% endif %}
    {% endfor %}
</div>

