---
layout: default
---
<div class="content container">
  <h1>{{ page.heading }}</h1>
  {{ content }}
</div>

<div class="home_nav">
  {% assign cur_item = site.data.site_pages.pages[1] %}
  {% include home_nav_item.html nav_item=cur_item %}

  {% assign cur_item = site.data.site_pages.pages[3] %}
  {% include home_nav_item.html nav_item=cur_item %}

  {% assign cur_item = site.data.site_pages.pages[2].items[0] %}
  {% include home_nav_item.html nav_item=cur_item %}

  {% assign cur_item = site.data.site_pages.pages[2].items[1] %}
  {% include home_nav_item.html nav_item=cur_item %}

  {% assign cur_item = site.data.site_pages.pages[4] %}
  {% include home_nav_item.html nav_item=cur_item %}

</div>
